

h1, p {
    text-align: center;
  }
  
  ul:hover, ol:hover {
    background-color: red;
  }
  
  li:active {
    font-family: sans-serif, Helvetica;
    font-size: 20px;
  }
  

  li {
    list-style: none;
  }